#slider {
    overflow: hidden;
    margin-left: 200px;
    margin-right: 200px;
}
#slider figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 12s slider infinite;
}
#slider figure img{
    float: left;
    width: 20%;
    height: 500px;
}
@keyframes slider {
    0% {
        left: 0;
    }
    30% {
        left: 0;
    }
    35%{
        left: -100%;
    }
    65%{
        left: -100%;
    }
    70%{
        left: -200%;
    }
    90%{
        left: -200%;
    }
   
}